<header class="header">
    <nav class="navbar">
        <div class="navdiv">
            <!-- <div class="logo"><a href="#">Data Product</a></div> -->
            <img src="/images/img.png" alt="img.png" style="width:183px;height:55px;object-fit:cover" width="183" height="55">
            <ul class="nav-links">
                <li><a href="">Home</a></li>
                <li><a href="">Dashboard</a></li>
                <li><a href="">Organization</a></li>
                <li><a href="/aboutuspage">About</a></li>
                <li><a href="/contactpage">Contact</a></li>
                <button class="signup-btn"><a routerLink="/registrationpage">SignUp</a></button>
                <button class="login-btn"><a routerLink="/loginpage">LogIn</a></button>
            </ul>
        </div>
    </nav>
</header>