<main>
    <!-- Main content goes here -->
        <section class="phtoAndTextSection">
            <div class="partof2div">
               <div class="leftside">
                    <h1 id="lefscript">Unlocking Growth<br> Using <span style="color: chocolate;">Creativity</span><br>& Data</h1>
                    <div class="scriptninicheDiv">
                        <span id="topleftscriptniche">When you run a marketing agency or business, you have a whole hot of website data and analytics at your fingertips to improve your digital marketing.</span>
                        <div class="leftscriptNicheBTNdivPart">
                            <button class="btn2sathe" id="our-serBtn">Our Services</button>
                            <button class="btn2sathe" id="tool-kBtn">Tool Kit</button>
                        </div>
                    </div>
                </div>
                <div class="rightside">
                        <img id="upimgright" src="/images/rightimg.webp" alt="rightimg.webp" >
                </div>
            </div>
        </section>

        <section class="welcosection">
            <div class="welcodiv">  
            </div>
            <div class="wel2div">
                <h4 style="padding-top: 30px;">Welcome</h4>
                <h1>Benefits of Data-driven
                    <span style="color: chocolate;">marketing</span>
                </h1>
                <div>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page <br>
                        when looking at its layout. the point  of using lorem lpsum is that it has a more-or-less normal <br>
                        distribution of letters, as opposed to using 'Content here, content here', making it look like <br>
                        readable English.</p>
                </div>
                <button>Learn More</button>
            </div>
            <div class="wel3div">
            </div>
        </section>
       
        <section class="toolksection">
            <div class="toolkdiv">
                <span style="color: #d2691e;">Toolkit</span>
            </div>

            <div class="maindiv">
                <div class="leftdiv">
                    <h1>Ensure You <span style="color: #d2691e;">Clients <br>Success</span>With the Right <br>Tools and Insights</h1>
                    <div class="animdiv">
                        <!-- <div class="spacer s2"></div> -->
                        <div id="trigger1" class="spacer s0"></div>
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="160" height="350">
                            <path id="word" style="stroke-linecap: round; stroke-linejoin: round; stroke-dasharray: 1009.23px; stroke-dashoffset: 1009.23px;" fill="none" stroke="#000" stroke-width="5" 
                                    d="M150 10 L150 290 z"></path>
                        </svg> 
                        <!-- <div class="spacer s2"></div> -->
                        <div class="lineandpoitDiv">
                            <div class="poit1div" id="poitsid"></div>
                            <div class="line1div" id="linesid"></div>
                            <div class="poit2div" id="poitsid"></div>
                            <div class="line2div" id="linesid"></div>
                            <div class="poit3div" id="poitsid"></div>
                            <div class="line3div" ></div>
                            <div class="poit4div" id="poitsid"></div>
                        </div>
                        <div class="detaildiv">
                            <h2>Keyword Rank Tracker</h2>
                            <h3>It is a long established fact that a reader will be 
                                <br>distracted by the readable content of a page.</h3>
                            <h2>Keyword Research Tool</h2>
                            <h3>It is a long established fact that a reader will be 
                                <br>distracted by the readable content of a page.</h3>
                            <h2>Listing Optimization Tool</h2>
                            <h3>It is a long established fact that a reader will be 
                                <br>distracted by the readable content of a page.</h3>
                        </div>
                    </div>                                                
                </div>
                <div class="rightdiv">
                    <div>
                        <img src="/images/secimagenet1.jpg" alt="secimagenet1.jpg">
                    </div>
                </div>
            </div>
        </section>

        <section class="chartandtxtsection4">
            <div class="part2div maindiv ">
                <div class="chartdiv leftdiv">

                </div>
                <div class="textdivr rightdiv">
                    <h4>What's Now</h4>
                    <h1>What Can Technology <br>Help With <span style="color: #d2691e;">Data-driven</span><br>Marketing?</h1>
                    <span id="txtspa">It is a long established fact that a reader will be <br>distracted by the readable content of a page when 
                        <br>looking at its layout. The point of using Lorem lpsum.</span>
                    <button>Learn More</button>
                </div>
            </div>
        </section>

        <section class="partof3section5">
            <div>
                <h4>Advertisement</h4>
                <h1>Deliver Value in the <span style="color: #d2691e;">Data Economy</span><br>is Available Now!</h1>
            </div>
            <div class="part3div">
                <div>
                    <img id="imgfirst" src="/images/firstphoto.webp" alt="firstphoto.webp">
                    <span>Media buying &<br>operations</span>
                </div>
                <div>
                    <img id="imgsecond" src="/images/firstphoto.webp" alt="firstphoto.webp">
                    <span>User acquisition &<br>Research</span>
                </div>
                <div>
                    <img id="imgthird" src="/images/firstphoto.webp" alt="firstphoto.webp">
                    <span>Media planning &<br>strtegy</span>
                </div>
            </div>
            <div class="starttrig" style="margin: 0; padding: 0;"></div>
        </section>
        <script>
            // init controller
            var controller = new ScrollMagic.Controller();
        </script>
        <style type="text/css">
            #imgfirst {
                opacity: 0;
                -webkit-transform: translateX(-50px);
                     -moz-transform: translateX(-50px);
                        -ms-transform: translateX(-50px);
                         -o-transform: translateX(-50px);
                                transform: translateX(-50px);
                -webkit-transition: all 1s ease-out;
                     -moz-transition: all 1s ease-out;
                        -ms-transition: all 1s ease-out;
                         -o-transition: all 1s ease-out;
                                transition: all 1s ease-out;
            }
            #imgthird {
                opacity: 0;
                -webkit-transform: translateX(50px);
                     -moz-transform: translateX(50px);
                        -ms-transform: translateX(50px);
                         -o-transform: translateX(50px);
                                transform: translateX(50px);
                -webkit-transition: all 1s ease-out;
                     -moz-transition: all 1s ease-out;
                        -ms-transition: all 1s ease-out;
                         -o-transition: all 1s ease-out;
                                transition: all 1s ease-out;
            }
            #imgsecond {
                opacity: 0;
                -webkit-transform: scale(1);
                     -moz-transform: scale(1);
                        -ms-transform: scale(1);
                         -o-transform: scale(1);
                                transform: scale(1);
                -webkit-transition: all 1s ease-in-out;
                     -moz-transition: all 1s ease-in-out;
                        -ms-transition: all 1s ease-in-out;
                         -o-transition: all 1s ease-in-out;
                                transition: all 1s ease-in-out;
            }
            #imgfirst.visible , #imgthird.visible , #imgsecond.visible {
                opacity: 1;
                -webkit-transform: none;
                     -moz-transform: none;
                        -ms-transform: none;
                         -o-transform: none;
                                transform: none;
            }
        </style>
        <script>
                    new ScrollMagic.Scene({
                                        triggerElement: ".starttrig", // y value not modified, so we can use element as trigger as well
                                        duration: "60%",
                                        offset: 50,	 // start a little later
                                        triggerHook: 1,
                                    })
                                    .setClassToggle("#imgfirst, #imgthird, #imgsecond", "visible") // add class toggle
                                    //.addIndicators() // add indicators (requires plugin)
                                    .addTo(controller);
        </script>

        <section class="reviewsection6">
            <h4 style="color: #d2691e; margin: 50px 0 0 30px;">Reviews</h4>
            <div class="reviewdiv">
                <div>
                    <h1 style="margin: 0 0 0 30px; font-size: 45px;">What Our <span style="color: #d2691e;">Clients <br>Saying</span> About Us</h1>
                    <span style="margin: 55px 0 0 30px; font-size: 20px;">Our customers use simulated.ai to <br>create tons of content daily - and are <br>absolutely loving it.</span>
                    <img id="rightdownimg" src="/images/chartimage.webp" alt="chartimage.webp">
                </div>
                <div id="vachenboxdiv">
                    <h3 style="margin: 150px 0 0 30px;">It has the ability to create <br>engaging and unique social <br>analyzing keywords and <br>
                    hashtags that are relevant to <br>your business and then <br>automatically generates posts <br>
                    with the right images and <br>content.</h3>
                    <div style="display: flex;">
                        <img id="andrnimage" src="/images/Mark-Wood1.jpg" alt="Mark-Wood1.jpg">
                        <div style="margin-left: 15px;">
                            <h3 style="margin-top: 120px;">Mark Wood</h3>
                            <h5 style="margin: 0 0 50px 15px;">Copywrite</h5>
                        </div>
                    </div>
                </div>
                <div id="jamninabeimag">
                    <img src="/images/markwood2cop.jpeg" alt="markwood2cop.jpeg">
                </div>
            </div>
        </section>

        <section class="section7">
            <div class="txtdiv">
                <h3 
                style="color: #d2691e; 
                padding-top: 20px;">Advertisement</h3>
                <h1 
                style="color: #fff;
                margin-top: 20px;
                margin-bottom: 20px;"
                >Connect Caution <br>With All The <span style="color: #d2691e;">Things</span></h1>
                <span 
                style="color: #fff;"
                >Our platform has 1000+ integrations and can easily be <br>configured to connect to any SaaS or on premise's system.</span>
            </div>
            <div class="bo4fir">
                <div>
                    <img 
                    style="width: 260px; 
                    height: 100px;
                    border-radius: 10px;" 
                    src="/images/img1.jpg" alt="img1.jpg">
                </div>
                <div>
                    <img 
                    style="width: 260px; 
                    height: 100px;
                    border-radius: 10px;"
                    src="/images/img3.png" alt="img3.png">
                </div>
                <div>
                    <img 
                    style="width: 260px; 
                    height: 100px;
                    border-radius: 10px;
                    background-color: #fff;" 
                    src="/images/img5.png" alt="img5.png">
                </div>
                <div>
                    <img 
                    style="width: 260px; 
                    height: 100px;
                    border-radius: 10px;" 
                    src="/images/img9.jpeg" alt="img9.jpeg">
                </div>
            </div>
            <div class="bo4sec bo4fir">
                <div>
                    <img 
                    style="width: 260px; 
                    height: 100px;
                    border-radius: 10px;"
                    src="/images/img2.png" alt="img2.png">
                </div>
                <div>
                    <img 
                    style="width: 260px; 
                    height: 100px;
                    background-color: #fff;
                    border-radius: 10px;"
                    src="/images/img4.png" alt="img4.png">
                </div>
                <div>
                    <img 
                    style="width: 260px; 
                    height: 100px;
                    border-radius: 10px;"
                    src="/images/img8.jpeg" alt="img8.jpeg">
                </div>
                <div>
                    <img 
                    style="width: 260px; 
                    height: 100px;
                    background-color: #fff;
                    border-radius: 10px;"
                    src="/images/img7.png" alt="img7.png">
                </div>
            </div>
        </section>

        
        <section class="section8">
            <div class="blackdivforgrl">
            </div>
            <div class="girldiv">
                <img id="girlimgid" src="/images/girlimg.jpeg" alt="girlimg.jpeg">
            </div>
            <div class="sec8div">
                <h1 style="font-size: 45px; margin: 0 0 30px 0;">Subscribe To Get The Latest <br>New About Us</h1>
                <span style="font-size: 20px;">We recommended you to subscribe to our newsletter, drop your email <br>below to get update about us.</span>
            </div>
            <div class="buttdiv">
                <input type="text" placeholder="Name">
                <input type="text" placeholder="Email">
                <button>Subscribe</button>
            </div>
        </section>

        <section class="section9">
            <div class="sect9div">
                <div>
                    <img id="h3che" src="/images/img.png" alt="img.png">
                    <h3 id="tex">business-id : 30088442-5</h3>
                    <h3 id="tex">Terms and conditions</h3>
                </div>
                <div>
                    <h3 id="h3che">Use Revise For</h3>
                    <h3 id="tex">Promo Video</h3>
                    <h3 id="tex">Marketing Video</h3>
                    <h3 id="tex">Invitation Video</h3>
                    <h3 id="tex">Youtube Intro Video</h3>
                </div>
                <div>
                    <h3 id="h3che">Tools</h3>
                    <h3 id="tex">Free Video Converter</h3>
                    <h3 id="tex">Free Video Trimmer</h3>
                    <h3 id="tex">Free Video Compressor</h3>
                    <h3 id="tex">All Tools</h3>
                </div>
                <div>
                    <select name="language" id="h3che">
                        <option value="">English</option>
                        <option value="">Hidi</option>
                    </select><br>
                    <button>Revise for Desktop</button>
                </div>
            </div>
        </section>
</main>