<section>
    <div class="maindiv">
        <h1>DESIGN DRIVEN DATA<br>SERVITIZATION MODEL</h1>
        <h3>LOOKING FOR DATA SCIENTISTS AND<br>ANALYSTS FOR INTERVIEW</h3>
        <button id="allbuttoncod"><a href="/contactpage">CONTACT NOW!</a></button>
        <p id="firdivtex">STANDARDIZING DATA AS A SERVICE VALUE<br>CHAIN TO MAXIMISE DATA VALUE AND<br>MONETIZATION</p>
    </div>

    <div class="mentxtmaindiv">
        <div class="samedivcww">
            <div class="twpardivleft">
                <h1>SHORT STORY</h1>
                <img src="/images/jarkko.webp" alt="jarkko.webp">
                <p>Hi,<br><br>
                    My economics-oriented 2nd Ph.D. br research is focused on the design-driven data servitization
                    process,
                    which binds together data products (raw material for services), data as a service (Daas) and data
                    strategy in companies. It also includes data portfolio and lifecycle concepts. <br><br>
                    See <a style="color: #000;"
                        href="https://www.dataproductbusiness.com/_files/ugd/50ff94_18072cc3d900458e899f513a9172171a.pdf">
                        a more detailed research plan</a><br>or continue reading.
                </p>
            </div>
        </div>
        <div class="samedivcww">
            <div class="twpardivright">
                <h1>LETEST NEWS</h1>
                <div id="samedivbox">
                    <p>DATA DEVELOPER EXPERIENCE - 6TH INTERVIEW DONE - MORE NEEDED!</p>
                </div >
                <div id="samedivbox">
                    <p>OPEN DATA PRODUCT SPACIFICATION ARTICLE ACCEPTED TO DESRIST 2022</p>
                </div>
                <div id="samedivbox">
                    <P>DATA DEVELOPER EXPERIENCE - 5TH INTERVIEW DONE</P>
                </div>
                <div id="samedivbox">
                    <p>DATA DEVELOPER EXPERIENCE - 4TH INTERVIEW DONE</p>
                </div>
            </div>
        </div>
    </div>

    <div class="sctipdivtext">
        <h3>GOAL IS A PRECTICAL TOOLKIT</h3>
        <P>My intention is to define the Data as a Service tools which can be used in igniting, leading developing
            business driven data monetization in companies. Development will take advantage of Design Science
            Research methodology. You can expect lots of workshops and use case evaluations of the models
            discovered.</P>
        
        <h3>DATA MONETIZATION AS THE PLAYGROUND</h3>
        <p>Data monetization can be seen to include enhanced decision-making support through a better, more
            effective use of data; creating a unified understanding of data and a harmonised view of all relevant
            data; creating conditions for data-driven work and thereby becoming a digital company; increasing
            process efficiency; and building common objectives, benefit concepts and mindsets when dealing with
            data. </p>
        
        <p>Data as a Product was one step towards servitized data. Open data started the tsunami of data and after
            the hype data monetization and commercialization have raised the often discussed topics also in the
            academic research (Gelhaar and Otto 2020; Kaiser et al. 2019; Moro Visconti et al. 2018). Yet the focus
            has been mostly in big data and technical aspects of the data. Emerging data economy markets are not
            fully yet here yet. Instead, we are still in the phase of learning to utilize and monetize data - both
            require data value streams which are expected to follow the service-driven paradigm more than
            goods-dominant paradigm.</p>
        
        <h3>FOCUS IN DATA AS SERVICE</h3>
        <p>Focus in the research is in data as a service which are sold as commodities. Data product content is raw
            data or results of analysis process which might include AI or not. The content of data products is
            wrapped around with product element such as pricing plans, conditions, versioning, attractive name and
            description to mention a few. One of the fundamental aims is to define data product as accurately as
            possible. The added value is in the data which is packaged into easy to understand, buy and consume data
            products.</p>
        
        <h3>DATA PRODUCT TOOLKIT IS THE FIRST STEP TOWARDS THE FINAL FRAMEWORK</h3>
        <p>Data owners lack tools and skills to design data products. Furthermore, before data products can be built
            on top of a platform, those need to be designed. Platform might even offer testbed or simulation tools
            to test data products before production level publication. Initial set of business people oriented
            canvases have already been development as Data Product Toolkit, which offers canvases and other tools to
            design and manage data products, product lifecycle and product portfolios. This toolkit is now expanded
            to include ecosystem and operational excellence approaches, and focus is transferred from products to
            services (Daas)</p>
        
        <h3>DATA PRODUCTS, DATA AS A SERVICE AND PLATFORMS</h3>
        <p>Data is increasingly not purchased as a batch or a dataset. Instead data consumer is purchasing access to
            data. One reason for this is the success story of subscription economy. We’ve seen this with Netflix and
            Spotify, but also in getting access to cars and other commodities instead of buying one. The purchased
            data product is stream of data which is either retrieved on customer request or pushed to customer upon
            changes in content. This resembles more a service than product in the pure format. More often “data
            product” is consumed via productized APIs. Consumers are not buying APIs. APIs provide modern access to
            discover, purchase and consume given data products. Thus I'm also prone to deal data as a service rather
            than products which are owned.</p>
    </div>

    <div class="imgdiv">
        <img src="/images/Product-vs-service.webp" alt="Product-vs-service.webp">
    </div>

    <div class="picafterdiv">
        <p>Data as Service dominates the emerging data economy. Read more about the claim from separate article and
            Currently, the only scalable option to deliver data product content to consumers (apps) are APIs. Just as
            data has to be productized, also necessary APIs must be productized. Commonly data owners lack skills to
            productize APIs, market place to sell goods in. Thus we need a third-party - platform, which will offer
            productized APIs to access productized data products with modern plans including subscription. </p>
        <h3>BECOME COAUTHOR</h3>
        <P>Below you'll find my planned articles to be written. I am more than happy to have coauthors since that
            enables more fluent authoring experience, multiple viewpoints, fresh ideas, fruitfull discussions and other
            benefits. I use Overleaf in the writing and that is not negotiable. Take a look at the article candidates
            and contact me if you want to participate in the research.
            <br>Below you'll find a link to more detailed
            research plan as well
        </P>
    </div>
    <div class="fianldivconta">
        <h1>WANT TO COAUTHOR AN ARTICLE RO DU OTHER KINDS OF<br>COOPERATION WITH JARKKO?</h1>
        <BUtton id="allbuttoncod"><a href="/contactpage">CONTACT</a></BUtton>
    </div>

</section>