<div class="maindiv">
    <form action="">
        <section class="logsection">
            <div class="boxdiv">
                <div>
                    <h1>Login</h1>
                </div>
                <div class="Tbox"><input type="text" placeholder="Enter your username" required></div>
                <div class="Tbox"><input type="password" placeholder="Enter your password" required></div>
                <div class="forgtDiv"><span><a id="forgrt" href="#">Forgot password?</a></span></div>
                <div class="loinBtDiv"><button class="loinBtn" type="submit">Login</button></div>
                <div id="forgetdiv"><span>Don't have an account? <a
                            routerLink="/registrationpage"><b>Registration</b></a></span></div>
            </div>
        </section>
    </form>
</div>