<main>
    <section class="firSection">
        <div class="firSecDiv">
            <h1 class="h1hedar">Contact & Order</h1>
            <p>Did we miss something? Do you want to partner with us? Feedback about existing services? <br>
            You can always call us, but if you prefer, get in touch with below form</p>
            <h3>Tel :- <a href="" id="numLink">+91 9484685503</a></h3>
        </div>
    </section>
    <section class="secondSection">
        <div class="useInDiv">
            <div id="emailDiv">Email <span style="color: red;">*</span> :- <br><input type="email" placeholder="email@foo.com"></div>
            <div id="phoneDiv">Phone :- <br><input type="number" placeholder="+91 9484685503"></div>
            <div id="topicDiv">Topic of contact <span style="color: red;">*</span> :- <br><input type="text"></div>
            <div >Additional notes :- <br><textarea id="aditaInput" cols="50" rows="5" placeholder="Did we miss something? Do you want to partner with us? Feedback about existing services?"></textarea></div>
            <div id="sendDiv"><button id="btnSend">SEND</button></div>
        </div>
    </section>
</main>