<div class="miandiv">
    <form action="">
        <section class="logsection">
            <div class="boxdiv">
                <div>
                    <h1>Registration</h1>
                </div>
                <div class="Tbox"><input type="text" placeholder="Username" required></div>
                <div class="Tbox"><input type="email" placeholder="Email" required></div>
                <div class="Tbox"><input type="password" placeholder="Password" required></div>
                <div class="forgtDiv"><span><input type="checkbox" required> I agree terms & condition</span></div>
                <div class="loinBtDiv"><button class="loinBtn" type="submit">Registration</button></div>
                <div id="forgetdiv"><span>Already have an account? <a routerLink="/loginpage"><b>Login</b></a></span></div>
            </div>
        </section>
    </form>
</div>